@tailwind base;
@tailwind components;
@tailwind utilities;

#modal  {
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }

  #modal::backdrop {
    background: rgba(0, 0, 0, 0.20);
  }
  

@keyframes fade-slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  html {
    scroll-behavior: smooth;
  }
